@model AdminViewModel 
@{
    ViewData["Title"] = "Details";
}

<h1>Admin Details</h1>
<div class="row">
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item"><b>Author Name:</b>@Model.Name</li>
            <li class="list-group-item"><b>Email:</b>@Model.Email</li>
            <li class="list-group-item"><b>User Name:</b>@Model.UserName</li>
            <li class="list-group-item"><b>Password:</b>@Model.Password</li>

        </ul>
        <a asp-controller="Admins" asp-action="Index">Back to List</a>
    </div>
</div>

